html {
    .card {
        width: 100%; /* Adjust the width to be responsive */
        height: auto; /* Adjust the height to be responsive */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    .card {
        width: 18rem; /* Adjust the width for larger screens */
        height: 18rem; /* Adjust the height for larger screens */
    }
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}